.hero {
  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__box {
    display: block;
    padding-top: 41.8rem;
    padding-bottom: 22.5rem;
    text-align: center;
  }

  &__subtitle {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 2.6rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #ffffff;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    font-size: 12.2rem;
    line-height: 18.1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 4rem;
    animation: moveInRight 1s ease-out;
  }

  &__btn {
    &:link,
    &:visited {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 2.6rem 6rem;
      border: 0.2rem solid #ffffff;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      animation: moveInBottom 1s ease-out;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      background: #f6452d;
      border: 0.2rem solid #f6452d;
    }
  }
}
